psycopg2-binary
fastapi
uvicorn
sqlalchemy
alembic
pydantic-settings
python-dotenv
requests
chromadb
apscheduler
python-pptx
trafilatura
sentence-transformers
pydantic
aiohttp
python-multipart
google-auth
pyjwt
python-jose[cryptography]
passlib[bcrypt]
email-validator==2.3.0
